<div class="pf-v6-l-flex pf-m-column pf-m-gap-md">
  <div class="pf-v6-l-flex pf-m-align-items-center pf-m-justify-content-space-between pf-m-nowrap pf-v6-u-pb-0 pf-v6-u-pl-0 pf-v6-u-pl-md-on-xl">
    <div class="pf-v6-c-content">
      <h3>Latest posts</h3>
    </div>
    <a
      href="{{ .Site.Data.links.socials.mastodon.url }}"
      target="_blank"
      rel="noopener"
      class="pf-v6-c-button pf-m-control pf-m-small"
      ><span class="pf-v6-c-button__icon pf-m-start"
        ><i class="fa-brands fa-mastodon" aria-hidden="true"></i></span
      ><span class="pf-v6-c-button__text">Follow</span
    ></a>
  </div>
  <mastodon-feed
    username="{{ .Site.Data.links.socials.mastodon.username }}"
    api="{{ .Site.Data.links.api }}"
    profile="{{ .Site.Data.links.socials.mastodon.url }}"
  >
    <div class="pf-v6-l-flex pf-m-column pf-m-gap-sm js-only">
      {{ range (seq 3) }}
        <div>
          <div class="pf-v6-c-skeleton pf-m-text-sm pf-v6-u-mb-sm"></div>
          <div class="pf-v6-c-skeleton pf-m-text-sm pf-m-width-75"></div>
          <div class="pf-v6-c-skeleton pf-m-text-xs pf-m-width-50 pf-v6-u-mt-sm"></div>
        </div>
      {{ end }}
    </div>
    <div class="noscript-only">
      <div class="pf-v6-c-empty-state pf-m-xs">
        <div class="pf-v6-c-empty-state__content">
          <div class="pf-v6-c-empty-state__header">
            <div class="pf-v6-c-empty-state__icon pf-v6-u-font-size-xl pf-v6-u-mb-sm">
              <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
            </div>
            <div class="pf-v6-c-empty-state__title">
              <p class="pf-v6-c-empty-state__title-text pf-v6-u-font-size-sm">JavaScript is required to load the feed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mastodon-feed>
  <div class="pf-v6-c-content pf-v6-u-font-size-sm pf-v6-u-text-align-center pf-v6-u-pb-sm">
    <p>
      <a
        href="{{ .Site.Data.links.socials.mastodon.url }}"
        target="_blank"
        rel="noopener"
        >See all posts{{ partial "icon" "external" }}</a
      >, or subscribe via
      <a
        href="{{ .Site.Data.links.feed.mastodon }}"
        target="_blank"
        rel="noopener"
        >RSS{{ partial "icon" "rss" }}</a
      >.
    </p>
  </div>
</div>
