<template id="next-event-template">
  <div class="pf-v6-c-card pf-m-compact">
    <div class="pf-v6-c-card__body">
      <div class="pf-v6-l-flex pf-m-gap-lg pf-m-align-items-center">
        <div
          class="pf-v6-l-flex pf-m-column pf-m-align-items-center pf-m-gap-xs"
        >
          <span class="pf-v6-c-label pf-m-green pf-m-outline">
            <span class="pf-v6-c-label__content">
              <span class="pf-v6-c-label__text" data-slot="date"></span>
            </span>
          </span>
          <span class="pf-v6-u-font-size-xs" data-slot="relative"></span>
        </div>
        <div class="pf-v6-l-flex pf-m-column pf-m-gap-sm">
          <div class="pf-v6-c-content">
            <h4 data-slot="name"></h4>
            <p>
              <small data-slot="detail"></small>
            </p>
          </div>
          <a
            data-slot="rsvp"
            target="_blank"
            rel="noopener"
            class="pf-v6-c-button pf-m-link pf-m-inline"
            ><span class="pf-v6-c-button__text">RSVP on Luma</span
            ><span class="pf-v6-c-button__icon pf-m-end"
              ><icon-external></icon-external></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>
