@import "@patternfly/patternfly/sass-utilities/_index.scss";

$pf-v6-global--font-path: "../../fonts";
$pf-v6-global--fonticon-path: "../../pficon";
$pf-v6-global--image-path: "../../images";

@import "@patternfly/patternfly/patternfly.scss";
@import "@patternfly/patternfly/patternfly-addons.scss";

// We want to use BC Sans instead of Red Hat Text
@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../../fonts/BCSans/BCSans-Light.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-Light.woff") format("woff");
}

@font-face {
  font-family: "BC Sans";
  font-style: italic;
  font-weight: 300;
  src:
    url("../../fonts/BCSans/BCSans-LightItalic.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/BCSans/BCSans-Regular.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "BC Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url("../../fonts/BCSans/BCSans-Italic.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../../fonts/BCSans/BCSans-Bold.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "BC Sans";
  font-style: italic;
  font-weight: 700;
  src:
    url("../../fonts/BCSans/BCSans-BoldItalic.woff2") format("woff2"),
    url("../../fonts/BCSans/BCSans-BoldItalic.woff") format("woff");
}

:root {
  --pf-x-base-color: #00529b;

  --pf-t--global--font--family--100:
    "BC Sans", "Noto Sans", Verdana, Arial, sans-serif;
  --pf-t--global--font--family--200:
    "BC Sans", "Noto Sans", Verdana, Arial, sans-serif;

  // BC Sans only has 300/400/700
  --pf-t--global--font--weight--200: 700;
  --pf-t--global--font--weight--300: 700;
}


$font-path: "../../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

.noscript-only {
  display: none;
}

// Remove the bottom corner & padding from the Patternfly page to get more vertical space
.pf-v6-c-page {
  --pf-v6-c-page__main-container--BorderRadius: var(
      --pf-t--global--border--radius--medium
    )
    var(--pf-t--global--border--radius--medium) 0 0;
  --pf-v6-c-page__main-container--AlignSelf: stretch;
  --pf-v6-c-page__main-container--MaxHeight: 100%;
  --pf-v6-c-page__main-container--BorderBlockEndWidth: 0;
}

// On the home page, only remove the right margin when the Mastodon feed sidebar is visible
.pf-v6-c-drawer__content.pf-v6-c-page__main-container {
  @media screen and (min-width: $pf-v6-global--breakpoint--xl) {
    --pf-v6-c-page__main-container--MarginInlineEnd: 0;
  }
}

// By default this is a `<div>`, but we want to use the native `<dialog>` component instead
dialog.pf-v6-c-modal-box:not([open]) {
  display: none;
}

dialog[open].pf-v6-c-modal-box::backdrop {
  background-color: var(--pf-t--global--background--color--backdrop--default);
}

.pf-v6-c-card__body.pf-m-bg-overlay {
  --bg-overlay-start: 60%;
  --bg-overlay-mid: 80%;

  background: linear-gradient(
    color-mix(
        in srgb,
        var(--pf-t--global--background--color--primary--default)
          var(--bg-overlay-start),
        transparent
      )
      0%,
    color-mix(
        in srgb,
        var(--pf-t--global--background--color--primary--default)
          var(--bg-overlay-mid),
        transparent
      )
      50%,
    var(--pf-t--global--background--color--primary--default) 100%
  );
  border-radius: inherit;

  &.pf-m-overlay-light {
    --bg-overlay-start: 40%;
  }

  &.pf-m-overlay-heavy {
    --bg-overlay-start: 80%;
  }
}
