@import "@patternfly/patternfly/sass-utilities/_index.scss";

$pf-v6-global--font-path: "../../fonts";
$pf-v6-global--fonticon-path: "../../pficon";
$pf-v6-global--image-path: "../../images";

@import "@patternfly/patternfly/patternfly.scss";
@import "@patternfly/patternfly/patternfly-addons.scss";

$font-path: "../../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

// By default this is a `<div>`, but we want to use the native `<dialog>` component instead
dialog.pf-v6-c-modal-box:not([open]) {
  display: none;
}

dialog[open].pf-v6-c-modal-box::backdrop {
  background-color: var(--pf-t--global--background--color--backdrop--default);
}

.pf-v6-c-card__body.pf-m-bg-overlay {
  --bg-overlay-start: 60%;
  --bg-overlay-mid: 80%;

  background: linear-gradient(
    color-mix(
        in srgb,
        var(--pf-t--global--background--color--primary--default)
          var(--bg-overlay-start),
        transparent
      )
      0%,
    color-mix(
        in srgb,
        var(--pf-t--global--background--color--primary--default)
          var(--bg-overlay-mid),
        transparent
      )
      50%,
    var(--pf-t--global--background--color--primary--default) 100%
  );
  border-radius: inherit;

  &.pf-m-overlay-light {
    --bg-overlay-start: 40%;
  }

  &.pf-m-overlay-heavy {
    --bg-overlay-start: 80%;
  }
}
