.js-only {
  display: none !important;
}

.noscript-only {
  display: block !important;
}

// Show the expandable sections on the about page
.pf-v6-c-expandable-section {
  --pf-v6-c-expandable-section__content--Opacity: 1;
  --pf-v6-c-expandable-section__content--MaxHeight: none;
  --pf-v6-c-expandable-section__content--Visibility: visible;
  --pf-v6-c-expandable-section__content--Overflow: visible;
}

.pf-v6-c-expandable-section__toggle {
  display: none;
}

// Show the tab cards on the events pag
[hidden].pf-v6-c-tab-content {
  display: block !important;
}

// Hide non-functional toggles
.pf-v6-c-tabs,
.pf-v6-c-masthead__toggle {
  display: none;
}
